:root {
    /*** Colors ***/

    /* Changes the default bootstrap primary color (used for body bg color) */
    --bs-primary: #1b1b1b;
    --bs-primary-rgb: 27, 27, 27;

    /* Changes the default bootstrap secondary color (used for footer bg color)*/
    --bs-secondary: #080808;
    --bs-secondary-rgb: 8, 8, 8;

    /* Changes default bootstrap colors of links and hovered links */
    --bs-link-color: #00BFFF; 
    --bs-link-hover-color: #9400d3;

    /*** Typography ***/

    /* Sets variables for the fonts & font color that I'll be using throughout the website */
    --heading-font: 'Montserrat', sans-serif; 
    --main-font: 'Signika', sans-serif;

    --main-font-color: #f5f5f5;   
}

h5, label {
    font-family: var(--heading-font); 
    color: var(--main-font-color);
}

h1 {
    font-family: var(--heading-font); 
    color: var(--bs-primary);

    /* Gradient for h1 "banners" that match gradient on my logo svg at the top of the page  */
    background: #81D0D4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #81D0D4, #575FAB);  
    background: linear-gradient(to right, #81D0D4, #575FAB); 
    
    border-radius: 10px;
}

p, a{
    font-family: var(--main-font);
    line-height: 2.5rem;
}

p {
    color: var(--main-font-color);
}

button {
    font-family: var(--heading-font);  
}

/* Hides skip links */
.skip-links {
    display: none;
}

.accordion-item {
    font-family: var(--main-font);
}

/* adjusts layout of logo and nav links at the top of the site to a column */
.site-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.site-intro .logo {
    width: 50%;
    height: 50%;
}

.youtube {
    color: #FF0000;
}

.twitch {
    color: #9146FF;
}

.tiktok {
    color: #00f2ea;
}

/* Creates a smooth zoom in effect when hovering & un-hovering over portfolio item images. */
.portfolio-item {
    transition: 250ms;
    transform: scale(1);
    margin-top: 1rem;
}

.portfolio-item:hover { 
    transition: 250ms;
    transform: scale(1.2);
}

iframe {
    margin-top: 1rem;
}

/* Sets the sizes of portfolio items for smallest breakpoint (<576px) */
.thumbnail, .yt-video, .hifi-wireframe, .user-journey {
    width: 400px;
    height: 250px;
}

.poster, .lofi-wireframe {
    width: 300px;
    height: 500px;
}

.contact-message {
    width: 100%;
    height: 150px;   
}

.rounded-corners {
    border-radius: 10px;
}

/* Media query to adjust sizes of some portfolio items when viewport is >= 576px */
@media (min-width: 576px) {
    .yt-video {
        width: 450px;
        height: 300px;
    }

    .lofi-wireframe {
        width: 300px;
        height: 500px; 
    }
}

/* Media query to adjust sizes of some portfolio items when viewport is >= 768px */
@media (min-width: 768px) {
    .thumbnail, .yt-video, .hifi-wireframe, .user-journey {
        width: 600px;
        height: 400px;
    }

    .lofi-wireframe {
        width: 400px;
        height: 700px; 
    }

    .main-nav {
        font-size: 1.5rem;
    }
}

/* Media query to adjust sizes of some portfolio items when viewport is >= 992px */
@media (min-width: 992px) {
    .yt-video, .thumbnail, .hifi-wireframe, .user-journey {
        width: 800px;
        height: 500px;
    }

    .poster {
        width: 500px;
        height: 700px;
    }
    
    .lofi-wireframe {
        width: 600px;
        height: 700px; 
    }
}

/* Media query to adjust sizes of some portfolio items when viewport is >= 1200px */
@media (min-width: 1200px) {
    .yt-video {
        width: 1100px;
        height: 600px;
    }
}


